@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "crimson";
  src: url("./fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "crimson-italic";
  src: url("./fonts/CrimsonText-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --bg-blue: #1e1e1e;
}
html {
  overflow-y: overlay;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.7);
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ede5d3;
  width: 100vw;
  overflow-x: hidden;
}
.crimson{
  font-family: 'crimson';
}
.header{
  position: fixed;
  top: 0;
  padding: 60px 80px;
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  color: #fff;
  font-size: 32px;
  font-family: 'crimson-italic';
  font-weight: bold;
  /* mix-blend-mode: difference; */
  transition: transform 0.6s ease;
  transform: translateY(0); /* default visible */
}

.header.hidden {
  transform: translateY(-100%); /* slide up */
}
#edible, #ventures{
  position: absolute;
  top: 0%;
  left: -1%;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end; 
  margin-right: 12px;
  transform: translateX(-12%);
  z-index: 1;
  font-weight: 400;
}
#ventures{
  justify-content: start;
  left: auto;
  margin-left: 12px;
  margin-right: 0;
  right: -1%;
}
.numbers-container{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  position: absolute;
  width: 28vw;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  margin-left: -2.5%;

}
.crimson-italic{
  font-family: 'crimson-italic';
}
.preloader {
  /* background-color: var(--bg-blue); */
  height: 100vh;
  color: white;
  background-color: #313E47;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.opacity-0{
  /* opacity:   0; */
}
.preloader-text {
  text-align: center;
  transition: all 0.2s;
  /* transform: translateY(30px); */
  /* opacity: 1; */
}
.header-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-video{
  width: 20vw;
  z-index: 2;
  height: 25vh;
}
.header-container{
  align-items: center;
  font-family: 'crimson-italic';
  font-weight: bold;
  gap: 48px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 128px;
  margin-right: 5vw;
}
.header-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.main-contaier{
  position: relative;
  z-index: 999;
  background-color: #ede5d3;
}
.numbers{
  font-family: 'crimson';
  font-size: 32px;
}
/* Ticker css  */
:root {
  /* px travelled per second (lower = slower). You can override per-row via data attribute. */
  --px-per-sec: 50;
  --gap: 40px;
  --thumb-w: 134px;
  --thumb-h: 68px;
  --font-size: 42px;
}

* {
  box-sizing: border-box;
}

.ticker {
  overflow: hidden;
  width: 100%;
  padding: 100px 0 50px;
  min-height: 100vh;
  background: #ede5d3;
  display: flex;
  flex-direction: column;
}

.ticker_uppersection p{
  margin: 0;
  width: 40%;
}
.ticker_uppersection {
  margin-inline: 80px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  color: #313E47;
}
.ticker_line {
  width: 35%;
  display: flex;
  align-items: center;
}
.ticker_line_inner {
  width: 0%;
  height: 1px;
  background: black;
}
.ticker_uppersection .text-end{
  margin-left: 32px;
}
.group {
  display: grid;
  /* gap: 12px; */
  margin-top: 30vh;
}

.row {
  display: block;
  overflow: hidden;
  position: relative;
  will-change: transform;
  --px-per-sec-row: var(--px-per-sec);
  margin-top: 36px;
}

/* The track that contains original + cloned items */
.row .track {
  display: flex;
  gap: 24px;
  align-items: center;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
}

/* items */
.item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  font-size: var(--font-size);
  white-space: nowrap;
  margin-right: 0;
  text-transform: uppercase;
}
.ticker .item{
  gap: 24px;
  font-family: 'crimson';
  color: #313E47;
}
/* italic */
.italic {
  font-style: italic;
}

/* thumbnail box */
.thumb {
  width: var(--thumb-w);
  height: var(--thumb-h);
  background: #b2a7a7;
  display: inline-block;
}

/* animation applied via inline styles from JS (per-row @keyframes) */
/* pause on hover */
/* .row:hover .track,
.row.pause .track {
  animation-play-state: paused !important;
} */
.row:hover {
  .thumb {
    border-radius: 10px;
    transition: border-radius 3s;
  }
}

/* responsive tweaks */
@media (max-width: 700px) {
  :root {
    --font-size: 16px;
    --thumb-w: 110px;
    --thumb-h: 56px;
    --gap: 24px;
    --px-per-sec: 30;
  }
}

.business_tool {
  background: #ede5d3;
  padding-top: 20px;
  padding-bottom: 100px;
}

.business_tool_line {
  text-align: center;
  height: 100px;
  /* margin: 48px 0; */
}

.business_tool_line_inner {
  margin: 0 auto;
  width: 1px;
  height: 0%;
  background: #000;
}

.business_tool_text {
  padding-block:40px;
  text-align: center;
  font-size: 32px;
  color: #313e47;
  font-weight: 300;
  margin-bottom: 15vh;
}

.concept_img, .design_img, .development_img, .launch_img {
  height: 55vh;
  width: 23vw;
  background: url(./assets/img/concept-img.png);
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.business_text {
  font-size: 48px;
  text-align: left;
  font-family: 'crimson-italic';
  text-transform: uppercase;
  color: #313E47;
  margin-left: 36px;
}

.business_tool_inner {
  padding-top: 100px;
  position: relative;
  min-height: 100vh;
}

.business_concept {
  top: 5%;
  position: absolute;
  text-align: center;
}

.business_design {
  position: absolute;
  top: 13%;
  left:27%;
}

.design_img {
  width: 24vw;
  height: 23vh;
  background: url(./assets/img/design-img.png);
}

.business_development {
  position: absolute;
  top: 43%;
  left: 46%;
}

.development_img {
  width: 29vw;
  height: 36vh;
  background: url(./assets/img/development-img.png); 
}

.business_launch {
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.launch_img {
  width: 21vw;
  height: 55vh;
  background: url(./assets/img/launch-img.png);
}

.business_tool_inner_two {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 7%;
}

.business_tool_inner_two_first {
  width: 40%;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 24px;
  font-weight: 300;
  opacity: 0;
}
.business_tool_inner_text{
  width: 100%;
}
.business_tool_inner_text_anim{
  width: 35% !important;
}
.business_tool_inner_line {
  width: 45%;
  height: 1px;
  /* clip-path: inset(0 0 0 0); */
  background: #000;
}
.text-right{
  text-align: right;
}
.mt-48{
  margin-top: 48px;
}
.business_tool_inner_two_second {
  width: 40%;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  gap: 32px;
  /* opacity: 0; */
}
.business_tool_inner_two_first .business_tool_inner_line{
  width: 65%;
}
.business_tool_inner_two_first .business_tool_inner_text{
  line-height: 1;
}
.venture_tranform-div {
  width: 100vw;
  height: 100vh;
  background: #313e47;
}
.venture_tranform-div1 {
  width: 100vw;
  height: 100vh;
  background: #313e47;
  padding: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.venture_tranform-img-container{
  position: relative;
  justify-content: space-between;
}
.venture_tranform {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venture_tranform-img {
  /* position: absolute; */
  /* bottom: 20px; */
  width: 20vw;
  height: auto;
  aspect-ratio: 1;
  background: #000;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* opacity: 0; */
}

.venture_tranform-img1 {
  /* left: 0%; */
  background: url(./assets/img/transform-img-1.png);
}

.venture_tranform-img2 {
  /* left: 25%; */
  /* transform: translateX(10%); */
  background: url(./assets/img/transform-img-2.png);
}

.venture_tranform-img3 {
  /* right: 25%; */
  /* transform: translateX(-10%); */
  background: url(./assets/img/transform-img-3.png);
}

.venture_tranform-img4 {
  /* right: 0%; */
  background: url(./assets/img/transform-img-4.png);
  /* transform: translateX(100%); */
}

/* steps css  */
.steps_heading h1{
  font-style: italic;
  font-weight: 300;
  color: #313E47;
  font-size: 48px;
  padding: 48px 0; 
  font-family: 'crimson-italic';
  gap: 26px;
  justify-content: center
}
.steps_heading{
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}
.steps_boxes {
  border-top: 1px solid #000;
}
.steps_innersection{
  padding: 0 80px;
}
.step_box {
  max-width: 1400px;
  margin: 0 auto !important;
  padding: 50px 0px;
  height: 100%;
  max-height: 150px;
  justify-content: space-evenly;
  transition: all 1s;
}
.step_box:hover {
  height: 100%;
  max-height: 100vh;
}

.step_number {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'crimson-italic';
  font-weight: normal;
  color: #313E47;
  line-height: 0.8;
}

.step_title {
  font-size: 24px;
  color: #313E47;
  text-transform: uppercase;
  line-height: 1.1;
}
.steps-text {
  font-size: 16px;
  line-height: 1.2;
  margin-left: 24px;
}

.steps-line {
  padding-top: 30px;
}
.steps-line-animation {
  width: 0%;
  height: 1px;
  background: #000;
  transition: all 0.5s;
}
.step_box:hover .steps-line-animation {
  width: 100%;
}

.steps-text-img {
  width: 100%;
  background: grey;
  margin-right: 20px;
  transition: all 1.5s;
  opacity: 0;
}
.image-banner img{
  width: 100%;
  padding: 20px 0 60px;
}
.trace-oval {
  position: relative;
}
.trace-oval svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 130%;
}
.step_box:hover .steps-text-img {
  opacity: 1;
}
.venture_tranform1 {
  margin-top: -120vh;
  margin-bottom: 100px;
  background: #313e47;
}
.bridge-the-gap {
  padding: 100px 0;
  padding-bottom: 0;
}

.bridge-the-gap-section {
  position: relative;
  display: flex;
  width: max-content;
}
.mt-40{
  margin-top: -40vh;
}
.bridge-the-gap-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bridge-the-gap-sticky {
  width: 100vw;
  margin: 50px auto 0px !important;
  /* position: sticky; */
  /* left: 0px; */
  justify-content: space-evenly;
}
.bridge-the-gap-sticky .justify-between {
  background-color: #ede5d3;
  margin-inline: 80px;
  height: 100%;
}
  .bridge-the-gap-img {
    width: 100%;
    height: 30vh;
    background: grey;
}
.bridge-the-gap-img-right{
  height: 100%;
}
.bridge-title-sticky {
  font-size: 40px;
  text-transform: uppercase;
  padding-inline: 50px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  color: #313E47;
}
.bridge-title-sticky.opacity-0 {
  opacity: 0;
}

.bridge-title-sticky.opacity-5 {
  opacity: 0;
}
.bridge-title-sticky.opacity-1 {
  opacity: 1;
}
.bridge-the-gap-sticky-title {
  margin: 0 !important;
  width: 100%;
}
.bridge-the-gap-footer {
  /* margin: 10px 50px; */
  /* padding: 20px 0; */
  margin-top: -12px;
  font-size: 12vw;
  text-align: center;
  color: #313E47;
  justify-content: center;
  gap: 32px;
  /* font-family: "Libre Baskerville", serif; */
  font-weight: 300;
  /* line-height: 1; */
  /* border-top: 1px solid #171f24;
  border-bottom: 1px solid #171f24; */
}
.d-flex{
  display: flex;
}
.bridge-the-gap-span {
    display: inline-block;
    /* width: 30%; */
    /* height: 10px; */
}

.section_footer{
  /* min-height: 100vh; */
}
/* bridge the gap updated css  */
.bridge-title-sticky{
  padding: 0;
  font-size: 24px;
  color: #313E47;
  font-weight: normal;
}
.bridge-the-gap-sticky-title{
  padding: 0 80px;
  justify-content: space-between;
}
.slide-left-container{
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}
.slide-container{
  /* padding-top: 30px; */
}
.bridge-the-gap-text-container{
  position: relative;
}
.reveal-left {
  overflow: hidden;            /* optional but safe */
  will-change: clip-path;      /* smoother animation */
}
.hidden-text div{
  width: 100%;
  font-size: 24px;
}
.hidden-text{
  position: absolute;
  bottom: 60px;
  right: 40px;
  z-index: -1;
  width: 100%;
}
.reveal-image{
  z-index: 3;
  position: relative;
  object-fit: cover;
  height: 100%;
}
.hidden-text .business_tool_inner_line{
  width: 60%;
  clip-path: inset(0 100% 0 0);
}
.hidden-text .business_tool_inner_text{
  width: 40%;
}
.fade-in-img-2{
  z-index: 2;
}
.fade-in-img-3{
  z-index: 1;
}
.fade-in-img-4{
  z-index: 0;
}
.fade-in-img-5{
  z-index: -1;
}
/* bridge the gap updated css  */
/* left to right section  */
.text-banner-section{
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 20vh;
  flex-direction: column;
}
.text-banner-image{
  position: relative;
  height: 100vh;
  position: absolute;
}
.fade-in-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.text-banner-text p{
  margin: 0;
  width: max-content;
  text-align: left;
  margin-left: 0;
  box-sizing: border-box;
}

.text-banner-text{
  padding: 40px 80px;
  z-index: 9;
  background: #ede5d3;
  color: #313E47;
  font-size: 32px;
  font-family: 'crimson-italic';
}
.slide-container p{
  width: 50%;
  margin: 0;
  text-align: right;
  line-height: 1.2;
  font-weight: 300;
  margin-left: auto;
  font-size: 16px;
}
.slide-container h2{
  /* width: 60%; */
  font-weight: 300;
  font-size: 24px;
}
.slide-container .d-flex{
  gap: 24px;
  width: 100%;
}
.bridge-left-cont{
  width: 75%;
}
.bridge-right-cont{
  width: 25%;
}
.development-container .bridge-left-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.development-container .bridge-right-cont{
  width: 30%;
}
.development-container p{
  margin-left: 0;
  width: 100%;
  padding-right: 12px;
  text-align: left;
}
.bridge-the-gap-img-right.d-flex{
  flex-direction: column;
  justify-content: space-between;
}

/* left to right section  */

footer {
  padding: 100px;
  background: #171f24;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
  ul {
    padding: 0 !important;
  }
  li {
    list-style: none;
  }
} 